<%= form_with model: event, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :name, "Event name" %>
    <br>
    <%= form.text_field :name, placeholder: "A name for your event" %>
    <% event.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %>
    <br>
    <%= form.text_area :description, placeholder: "Please describe the event", size: "30x30" %>
    <% event.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :event_date %>
    <br>
    <%= form.date_field :event_date %>
    <% event.errors.full_messages_for(:event_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :event_time %>
    <br>
    <%= form.time_field :event_time %>
    <% event.errors.full_messages_for(:event_time).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Submit event" %>
  </div>

<% end %>

