<h1>Events#index</h1>

<div>
  <% if current_user %>
    <b>Hello <%= current_user.first_name %></b>
  <% end %>
</div>

<% @events.each do |event| %>
  <div>
    <b><%= event.name %></b>
    <br>
    <i><%= event.description %></i>
    <br>
    <p><%= event.event_date %></p>
    <br>
    <p><%= event.event_time %></p>
  </div>
<% end %>