<div class="container">
  <h1>Event details</h1>
  
    <div>
      <b><%= @event.name %></b>
      <br>
      <i><%= @event.description %></i>
      <br>
      <p><%= @event.event_date.strftime("%A, %B #{@event.event_date.day.ordinalize} %Y @ %l:%M %p") %></p>
      <br>
      <i>Posted by <%= @event.creator.first_name %> <%= @event.creator.last_name %></i>
    </div>
</div>
<br>
<div class="container">
  <% if current_user %>
    <%= button_to "Attend Event?", 
      attendees_events_path(user_id: current_user.id, id: @event.id), 
      disabled: current_user.attended_event_ids.include?(@event.id)%>
  <% end %>
</div>

<%# edit event details if creator %>
<div class="container">
  <% if @event.creator.eql?(current_user) %>
  <%= button_to "Edit event details", edit_event_path, method: :get %>
  <% end %>
</div>


<%# show event creator %>
<div class="container">
  <h1>Event creator</h1>
  <%= @event.creator.first_name %>
</div>

<%# show all attendees %>
<div class="container">
  <h1>Event attendees</h1>
  <% @event.attendees.each do |attendee| %>
    <p>
      <%= attendee.first_name %>
      <%= attendee.last_name %>
    </p>
    <br>
  <% end %>
  
</div>