<div class="container">
  <h1>Event details</h1>
  
    <div>
      <b><%= @event.name %></b>
      <br>
      <i><%= @event.description %></i>
      <br>
      <p><%= @event.event_date %></p>
      <br>
      <p><%= @event.event_time %></p>
      <br>
      <i>Posted by <%= @event.creator.first_name %> <%= @event.creator.last_name %> at <%= @event.created_at%></i>
    </div>
</div>
<br>
<div class="container">
  <%# if current user isn't already attending event %>
  <% if current_user %>
    <%#= button_to "Attend Event?", create_attending_event_path({user_id: current_user.id}) %>
    <%= button_to "Attend Event?", attendees_events_path(user_id: current_user.id, id: @event.id) %>
  <% end %>
  <%# else if it's a current user who is already attending event %>
</div>

<%# show host %>
<%# show all attendees %>